[Unit]
Description=Collect AWS EBS CloudWatch metrics every five minutes

[Timer]
OnBootSec=2min
OnUnitActiveSec=5min
AccuracySec=10s
Persistent=true

[Install]
WantedBy=timers.target
